/* Step one, let's just get the header looking similar. */
/* This is the closest it'll get, let's */
h1{
background-color: gray;
color:white;
font-family:Arial, Helvetica, sans-serif;
font-weight:normal; 
text-align:center;
padding:40px;
margin: 0px;
margin-top: -10px;
}

h2{
font-family:Arial, Helvetica, sans-serif;
font-weight: normal;
}

input {
   height: 30px;
   border-radius: 0px; 
   border-color: black;
}

.sBtn{
    font-size: 20px;
    margin:15px;
    padding: 2px 20px;
    border-radius: 5px;
    margin-left: 645px;
}
.rBtn{
    padding: 2px 20px;
}

table,td,th{
    border: 1px solid black;
}

td,th{
    padding: 8px 14px;
}

th{ 
    background-color:lightgray;
}

footer{
    position: relative;
}

.totalM{
text-align:center;

}
